.root {
    -fx-font-family: "m6x11plus";
}

/* Button style */
.button {
    -fx-background-color: #2C3E50; /* Dark blue background for a cool aesthetic */
    -fx-text-fill: #ECF0F1; /* Light colored text */
    -fx-font-size: 20px;
    -fx-padding: 10 20; /* Padding to make buttons easier to click */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.3), 5, 0, 0, 1); /* Adds shadow effect */
}

.colorButton {
    -fx-background-color: #2C3E50; /* Dark blue background for a cool aesthetic */
    -fx-font-size: 20px;
    -fx-padding: 10 20; /* Padding to make buttons easier to click */
    -fx-background-radius: 5; /* Rounded corners */
}

/* Button styles for hover and pressed states */
.button:hover {
    -fx-background-color: #34495E; /* Brighter color on hover to attract attention */
}

.button:pressed {
    -fx-background-color: #1F2C39; /* Darker color when pressed */
}

/* Customize label style, consistent with button style */
.label {
-fx-text-fill: #ECF0F1; /* Same light text as button */
-fx-font-size: 20px;
-fx-padding: 10 20;
-fx-background-radius: 5;
-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.3), 5, 0, 0, 1);
-fx-cursor: hand; /* If interaction is required */
}

