@font-face {
    font-family: 'BaseFont';
    src: url('/baseFont.ttf');
}

.button {
    -fx-font-family: 'BaseFont';
    -fx-font-size: 16;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}

.button#ExitButton {
    -fx-background-color: #F44336;
}