button {
    -fx-background-color: #FFC107; /* Button background color */
    -fx-text-fill: #FFFFFF; /* Button text color (set to white) */
    -fx-font-size: 16px; /* Button font size */
    -fx-padding: 10px 20px; /* Button padding */
    -fx-background-radius: 5px; /* Button corner radius */
    -fx-border-radius: 5px; /* Border corner radius */
    -fx-font-family: 'Arial'; /* Button font */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 1); /* Shadow effect */
    -fx-cursor: hand; /* Mouse cursor style when hovering */
}

/* Styles when the mouse hovers over the button */
button:hover {
    -fx-background-color: yellow; /* Background color when hovered */
    -fx-scale-x: 1.05; /* Slightly enlarge when hovered */
    -fx-scale-y: 1.05; /* Slightly enlarge when hovered */
}

/* Styles for disabled buttons */
button:disabled {
    -fx-background-color: #ccc; /* Background color when disabled */
    -fx-text-fill: #666; /* Text color when disabled */
    -fx-effect: none; /* Remove shadow effect when disabled */
}
